// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "waybar -c ~/.config/niri/waybar/config.jsonc -s ~/.config/niri/waybar/style.css"
spawn-sh-at-startup "wpaperd -c ~/.config/niri/wpaperd/config.toml"
spawn-at-startup "nm-applet"
spawn-at-startup "xwayland-satellite"
spawn-sh-at-startup "mako -c ~/.config/niri/mako/config"