// ────────────── Window Rules ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true // Always float Firefox PiP windows
}

window-rule {
    geometry-corner-radius 15 // Set every window radius to 20
    clip-to-geometry true
}

window-rule {
    match app-id="firefox*"
    match app-id="org.gnome.Nautilus"
    match title="Inkscape"
    match app-id="gimp"
    match app-id="steam"
    match app-id="Waydroid"
    match app-id="jetbrains-studio"
    match app-id="antigravity"
    open-maximized true
}

window-rule {
    match app-id="vlc"
    open-fullscreen true
    open-focused true
}