window {
    background-image: url("/home/kal/.config/niri/wallpaper/wd_upscayl_2x_digital-art-4x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#window-box {
    padding: 40px;
    border: 3px solid #ff0000;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    background-color: #000000;
    color: #ffffff;
}

button {
    background-image: none;
    /* Penting untuk menimpa tema default */
    background-color: #ff0000;
    /* Warna latar belakang tombol (contoh: merah) */
    color: #000000;
    /* Warna teks tombol (contoh: putih) */
    border: 1px solid #ff0000;
    /* Warna border tombol */
    border-radius: 5px;
    /* Sudut membulat */
    padding-left: 12px;
    /* Padding di dalam tombol */
    padding-right: 12px;
}

entry {
    border: 2px solid #ff0000;
    /* Warna border kotak teks */
    border-radius: 6px;
    /* Sudut membulat */
}